[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd audico-chat-quote && npm ci"]

[phases.build]
cmds = ["cd audico-chat-quote && npm run build"]

[start]
cmd = "cd audico-chat-quote && npm start"
